{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <title>KPJSSJ</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light text-bg-light p-0 p-lg-0">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'articles:index' %}">
          <img class="" src="{% static 'images/logo.png' %}" alt="logo" height="80">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 fs-5 d-flex justify-content-between">
          <li class="nav-item">
            <a class="nav-link" href="">회원가입</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">로그인</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}{% endblock content %}
  {% bootstrap_javascript %}
</body>

</html>