{% extends 'base.html' %}
{% block content %}
  {% load django_bootstrap5 %}
{% comment %} 
  <div class="container d-flex justify-content-center py-5">
    <div class="card col-6">
      <h1 class="text-center my-5 fs-3 fw-bold text-white">Reset password</h1>
      <div class="card-body">
        <form action="{% url 'accounts:update' %}" method="POST" class="text-white">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-grid gap-2">
            <button class="btn btn-primary mt-5 mb-2" type="submit">Reset Password</button>
            <a class="btn btn-outline-secondary text-white" href="{% url 'accounts:profile' user.pk %}" role="button">Back</a>
          </div>
        </form>
      </div>
    </div>
  </div> {% endcomment %}

  <div class="container d-flex justify-content-center py-5">
    <div class="card col-6 review-detail">
      <h1 class="text-center mt-5 mb-3 fs-3 fw-bold text-white">Reset Password</h1>
      <div class="card-body">
        <form action="{% url 'accounts:update' %}" method="POST" class="text-dark px-5 py-3">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="text-end mt-4">
                <input type="submit" class="btn btn-warning" value="Save">
                <a class=" btn btn-dark ms-3" href="{% url 'accounts:profile' user.pk %}" role="button">Back</a>
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
