{% extends 'base.html' %}
{% block content %}
  {% load django_bootstrap5 %}
  <div class="container d-flex justify-content-center py-5">
    <div class="card col-6">
      <h1 class="text-center my-5 fs-3 fw-bold">Login</h1>
      <div class="card-body">
        <form action="{% url 'accounts:login' %}" method="POST">
          {% csrf_token %}
          {% bootstrap_form form %}
          <div class="d-grid gap-2">
            <button class="btn btn-primary mt-5 mb-2" type="submit">Log In</button>
            <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}" role="button">Create Account</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}