{% extends 'base.html' %}
{% block content %}
  {% load django_bootstrap5 %}

  <div class="container d-flex flex-column align-items-center py-5">
    <div class="card mt-5 mb-4" style="width: 25rem;">
      <div class="card-header text-white opacity-50">
        <h5 class="fs-3 fw-bold text-center my-1">
          {{ user.username }}
        </h5>
      </div>
      <div class="card-body d-flex justify-content-center">
        <img src="{{ profile_image }}" class="card-img-top rounded-1" style="width: 20rem; height: 20rem;" alt="...">
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">User No.
          {{ user.pk }}</li>
        <li class="list-group-item">{{ user.first_name }}
          {{ user.last_name }}</li>
        <li class="list-group-item">{{ user.email }}</li>
        <li class="list-group-item">Joined at
          {{ user.date_joined|date:'Y-m-d H:i' }}</li>
      </ul>
    </div>
    <!-- Button -->
    {% if request.user == user %}
      <div class="mb-5 d-flex justify-content-end">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Edit
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'accounts:update' %}" role="button">Edit My Info</a>
            </li>
            <li>
              <hr class="dropdown-dividger">
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'accounts:change_password' %}" role="button">Change Password</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item text-danger" href="{% url 'accounts:delete' %}" role="button">Delete Account</a>
            </li>
          </ul>
        </div>
        <a class=" btn btn-outline-secondary mx-3" href="{% url 'accounts:userlist' %}" role="button">Back</a>
      </div>
    {% else %}
      <div class="d-flex justify-content-end">
        <a class=" btn btn-outline-secondary mx-3" href="{% url 'accounts:userlist' %}" role="button">Back</a>
      </div>
    {% endif %}
  </div>
</div>
{% endblock content %}
