{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block content %}
  <div class="container py-5">
    <div class="text-center">
      <h2>User list</h2>
    </div>
    {% for user in users %}
      <div class="card m-4">
        <div class="card-body">
          <img src="{{ profile_image }}" style="width: 5rem; height:5rem;">
          <h4 class="card-subtitle my-2">{{ user.last_name }}{{ user.first_name }}</h4>
          <h4 class="card-subtitle my-2">email :
            {{ user.email }}</h4>
          <p class="card-text">user no.
            {{ user.pk }}</p>
          <p class="card-text">joined at
            {{ user.date_joined|date:'Y-m-d H:i:s' }}</p>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
