@font-face {
  font-family: 'belgro';
  src: url('../font/Belgro.ttf') format('truetype');
}

body {
  width: 100vw;
  height: auto;
  font-family: 'belgro';
  background-image: url('../images/universe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}