@font-face {
  font-family: 'belgro';
  src: url('../font/Belgro.ttf') format('truetype');
}

body {
  width: 100vw;
  height: auto;
  font-family: 'belgro';
  background-image: url('../images/universe.jpg');
  background-repeat: no-epeat;
  background-size: cover;
}

.card {
  background: rgba(0, 0, 0, 0.42);
}

.opacity-form {
  opacity: 0.7;
}

.review-back {
  background-color: rgba(0, 0, 0, 0.396);
}

.review-detail {
  height: 100vh;
  background-color: #8ca6bcc4;
}

.font-space {
  letter-spacing: -1px;
}