{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% block css %}{% endblock css %}

{% block content %}

  <div class="container d-flex flex-column justify-content-center my-5">
    <div class="review-detail p-5 rounded-4 shadow-lg">
      <div class="d-flex justify-content-between">
      <h2 class="text-white font-space">{{ review.title }}</h2>
        {% if request.user == review.user %}
          <a href="{% url 'articles:update' review.pk %}" class="btn btn-outline-dark mt-5">Edit</a>
        {% endif %}
      </div>
      <i></i>
      <hr>
      <div class="d-flex justify-content-between align-middle">
        <p class="text-white">
          writer :
          {{ review.user }}</p>
        {% if review.created_at == review.updated_at %}
          <p class="text-white">{{ review.created_at }}</p>
        {% else %}
          <p class="text-white">{{ review.updated_at }}
            (수정됨)</p>
        {% endif %}
      </div>
      <hr class="mt-0">
      <pre class="fs-6 text-white ">{{ review.content}}</pre>
      {% comment %} <div class="d-flex justify-content-end my-3">
        {% if request.user == review.user %}
          <a href="{% url 'articles:update' review.pk %}" class="btn btn-outline-dark mt-5">Edit</a>
        {% endif %}
      </div> {% endcomment %}
      <hr>
      <form action="{% url 'articles:comment_create' review.pk %}" method="POST">
        {% csrf_token %}
        {% bootstrap_form comment_form %}
        <div class="text-end"><input class="btn btn-warning" type="submit" value="Comment"></div>
      </form>
      <h5 class="text-white">comments ({{ comments|length }})</h5>
      <hr>
      <ul class="list-group list-group-flush rounded-2">
        {% for comment in comments %}
          <li class="list-group-item align-middle">
            <div class="d-flex justify-content-between align-items-center">
              <p class="card-text text-muted m-2">{{ comment.user }}</p>
              <p class="card-text text-muted pt-3">{{ comment.created_at }}</p>

            </div>
            <div class="d-flex justify-content-between align-items-center m-2">
              <p class="">
                {{ comment.content }}
              </p>
              {% if request.user == comment.user %}
                <form action="{% url 'articles:comment_delete' review.pk comment.pk %}" method="POST">
                  {% csrf_token %}
                  <input class="text-danger bg-white ms-3 border-1 border-danger text-decoration-none rounded-2" type="submit" value="삭제">
                </form>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock content %}