{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-center py-5">
    <div class="row g-4 g-sm-4 g-md-3 row-cols-1 row-cols-sm-2 row-cols-md-3">
        {% for movie in movies %}
        <div class="col-4">
            <div class="card text-bg-dark">
                <a href="{% url 'articles:moviedetail' movie.pk %}">
                    {% if movie.thumbnail %}
                    <img src="{{ movie.thumbnail.url }}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{% static 'images/empty.jpg' %}" class="card-img-top" alt="...">
                    {% endif %}
                </a>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="d-flex justify-content-end">
        <a class="btn btn-secondary m-3" href="{% url 'articles:movie' %}">영화 만들기</a>
    </div>
</div>

{% endblock %}