{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container text-center py-5">
    {% for movie in movies %}
    <div class="col-4">
        <div class="card">
            <a href="{% url 'articles:moviedetail' movie.pk %}">
                <img src="{{ movie.thumbnail.url }}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<a href="{% url 'articles:movie' %}">영화 만들기</a>
{% endblock %}