{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block css %}{% endblock css %}

{% block content %}
  <div class="container d-flex justify-content-center align-items-center">
    <div class="bg-white rounded-5">
      <form action="" method="POST" enctype="multipart/form-data" class="text-dark p-5">
        {% csrf_token %}
        {% bootstrap_form movie_form %}
        <input type="submit" class="btn btn-warning" value="글 작성">
      </form>
    </div>
  </div>
{% endblock content %}
